In [1]:
!gdown 1uhQ8ypuxQ9FkryezE-aoV3zHitLO9Z_O

Downloading...
From: https://drive.google.com/uc?id=1uhQ8ypuxQ9FkryezE-aoV3zHitLO9Z_O
To: /content/balancedLabelled6lakh.csv
100% 72.6M/72.6M [00:00<00:00, 79.3MB/s]

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('balancedLabelled6lakh.csv')

In [4]:
df

,Unnamed: 0,text,sentiment
0,0,member medical team dispatched agra based army...,positive
1,1,earthquake relief turkey aerial recovery looki...,positive
2,2,mozaik foundation launched emergency relief fu...,positive
3,3,call contribute earthquake relief come people ...,positive
4,4,compliance royal order sultan haitham bin tari...,positive
...,...,...,...
678714,678714,according biblical prophecy earthquake sign co...,negative
678715,678715,earthquake causing shift train track,neutral
678716,678716,story tell kp citizen let meet washroom r r,neutral
678717,678717,earthquake stefano carparelli next generation,neutral
678718,678718,earth horrid jaw half open show plaint innocen...,negative

In [5]:
label=[]
for senti in df['sentiment']:
  if(senti=='positive'):
    label.append(1)
  elif(senti=='negative'):
    label.append(-1)
  else:
    label.append(0)    
label
df['label']=label

In [6]:
df

,Unnamed: 0,text,sentiment,label
0,0,member medical team dispatched agra based army...,positive,1
1,1,earthquake relief turkey aerial recovery looki...,positive,1
2,2,mozaik foundation launched emergency relief fu...,positive,1
3,3,call contribute earthquake relief come people ...,positive,1
4,4,compliance royal order sultan haitham bin tari...,positive,1
...,...,...,...,...
678714,678714,according biblical prophecy earthquake sign co...,negative,-1
678715,678715,earthquake causing shift train track,neutral,0
678716,678716,story tell kp citizen let meet washroom r r,neutral,0
678717,678717,earthquake stefano carparelli next generation,neutral,0
678718,678718,earth horrid jaw half open show plaint innocen...,negative,-1

In [7]:
X=df.text
y=df.label

In [8]:
# utilities
import re
import numpy as np
import pandas as pd
# plotting
import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt
# nltk
from nltk.stem import WordNetLemmatizer
# sklearn
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report

In [9]:
# Separating the 95% data for training data and 5% for testing data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30, random_state =0)

In [10]:
vectoriser = TfidfVectorizer(ngram_range=(1,2), max_features=500000)
vectoriser.fit(X_train)
print('No. of feature_words: ', len(vectoriser.get_feature_names_out()))

No. of feature_words:  500000

In [11]:
X_train = vectoriser.transform(X_train)
X_test  = vectoriser.transform(X_test)

In [12]:
X_train

<475103x500000 sparse matrix of type '<class 'numpy.float64'>'
	with 10078754 stored elements in Compressed Sparse Row format>

In [13]:
LRmodel = LogisticRegression(C = 2, max_iter = 1000, n_jobs=-1)
LRmodel.fit(X_train, y_train)
# model_Evaluate(LRmodel)
y_pred3 = LRmodel.predict(X_test)

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
print(accuracy_score(y_test,y_pred3 ))

0.953009586672953