In [1]:
!gdown 1uhQ8ypuxQ9FkryezE-aoV3zHitLO9Z_O

Downloading...
From: https://drive.google.com/uc?id=1uhQ8ypuxQ9FkryezE-aoV3zHitLO9Z_O
To: /content/balancedLabelled6lakh.csv
100% 72.6M/72.6M [00:00<00:00, 80.6MB/s]

In [2]:
import pandas as pd
df=pd.read_csv('balancedLabelled6lakh.csv')
label=[]
for senti in df['sentiment']:
  if(senti=='positive'):
    label.append(1)
  elif(senti=='negative'):
    label.append(-1)
  else:
    label.append(0)    
label
df['label']=label

In [3]:
df

,Unnamed: 0,text,sentiment,label
0,0,member medical team dispatched agra based army...,positive,1
1,1,earthquake relief turkey aerial recovery looki...,positive,1
2,2,mozaik foundation launched emergency relief fu...,positive,1
3,3,call contribute earthquake relief come people ...,positive,1
4,4,compliance royal order sultan haitham bin tari...,positive,1
...,...,...,...,...
678714,678714,according biblical prophecy earthquake sign co...,negative,-1
678715,678715,earthquake causing shift train track,neutral,0
678716,678716,story tell kp citizen let meet washroom r r,neutral,0
678717,678717,earthquake stefano carparelli next generation,neutral,0
678718,678718,earth horrid jaw half open show plaint innocen...,negative,-1

In [4]:
X=df.text
y=df.label

In [5]:
# utilities
import re
import numpy as np
import pandas as pd
# plotting
import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt
# nltk
from nltk.stem import WordNetLemmatizer
# sklearn
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report

In [6]:
# Separating the 95% data for training data and 5% for testing data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30, random_state =0)

In [7]:
#sparse matrix
vectoriser = TfidfVectorizer(ngram_range=(1,2), max_features=500000)
vectoriser.fit(X_train)
print('No. of feature_words: ', len(vectoriser.get_feature_names_out()))

No. of feature_words:  500000

In [8]:
X_train = vectoriser.transform(X_train)
X_test  = vectoriser.transform(X_test)

In [9]:
X_train

<475103x500000 sparse matrix of type '<class 'numpy.float64'>'
	with 10078754 stored elements in Compressed Sparse Row format>

In [10]:
import sklearn
# !pip install scikit-learn== 1.2.2
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators = 10)  

# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(X_train, y_train)
  
# performing predictions on the test dataset
y_pred = clf.predict(X_test)

# metrics are used to find accuracy or error
from sklearn import metrics  
print()
  
# # using metrics module for accuracy calculation
# print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

In [11]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred ))

0.8706486720100581

In [12]:
from sklearn.metrics import classification_report

# Assume y_true and y_pred are the true and predicted labels, respectively
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          -1       0.86      0.91      0.88     92939
           0       0.88      0.86      0.87     37941
           1       0.88      0.82      0.85     72736

    accuracy                           0.87    203616
   macro avg       0.87      0.86      0.87    203616
weighted avg       0.87      0.87      0.87    203616