In [ ]:
!gdown 1H3JoCyz0uYFi6p9wXhJws50iQ6sm3LEf

Downloading...
From: https://drive.google.com/uc?id=1H3JoCyz0uYFi6p9wXhJws50iQ6sm3LEf
To: /content/textBlob6lakh.csv
100% 72.5M/72.5M [00:01<00:00, 40.7MB/s]

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('textBlob6lakh.csv')

In [ ]:
df

,Unnamed: 0,text,sentiment
0,0,member medical team dispatched agra based army...,neutral
1,1,earthquake relief turkey aerial recovery looki...,neutral
2,2,mozaik foundation launched emergency relief fu...,neutral
3,3,call contribute earthquake relief come people ...,positive
4,4,compliance royal order sultan haitham bin tari...,neutral
...,...,...,...
678714,678714,according biblical prophecy earthquake sign co...,neutral
678715,678715,earthquake causing shift train track,neutral
678716,678716,story tell kp citizen let meet washroom r r,neutral
678717,678717,earthquake stefano carparelli next generation,neutral
678718,678718,earth horrid jaw half open show plaint innocen...,positive

In [ ]:
label=[]
for senti in df['sentiment']:
  if(senti=='positive'):
    label.append(1)
  elif(senti=='negative'):
    label.append(2)
  else:
    label.append(0)    
label

[0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 1,
 1,
 1,
 0,
 2,
 2,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 2,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 0,
 2,
 2,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 2,
 0,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 0,
 1,
 0,
 0,
 1,
 2,
 1,
 2,
 1,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 1,
 1,
 0,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 0,
 2,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 0,
 0,
 1,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 2,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 0,
 0,
 0,
 2,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 0,
 0,
 0,
 2,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 2,
 0,
 1,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 1,
 2,
 2,
 0,
 0,
 1,
 2,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 2,
 2,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 1,
 0,
 0,
 1,
 2,
 0,
 1,
 2,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 2,
 1,
 0,
 1,
 1,
 0,
 2,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 1,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 0,
 1,
 2,
 0,
 2,
 0,
 1,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 2,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 2,
 1,
 2,
 1,
 1,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 1,
 0,
 2,
 0,
 0,
 2,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 2,
 1,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 2,
 1,
 2,
 1,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 2,
 2,
 1,
 1,
 0,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 1,
 1,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 2,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 ...]

In [ ]:
df['label']=label

In [ ]:
df

,Unnamed: 0,text,sentiment,label
0,0,member medical team dispatched agra based army...,neutral,0
1,1,earthquake relief turkey aerial recovery looki...,neutral,0
2,2,mozaik foundation launched emergency relief fu...,neutral,0
3,3,call contribute earthquake relief come people ...,positive,1
4,4,compliance royal order sultan haitham bin tari...,neutral,0
...,...,...,...,...
678714,678714,according biblical prophecy earthquake sign co...,neutral,0
678715,678715,earthquake causing shift train track,neutral,0
678716,678716,story tell kp citizen let meet washroom r r,neutral,0
678717,678717,earthquake stefano carparelli next generation,neutral,0
678718,678718,earth horrid jaw half open show plaint innocen...,positive,1

In [ ]:
X=df.text
y=df.label

In [ ]:
# utilities
import re
import numpy as np
import pandas as pd
# plotting
import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt
# nltk
from nltk.stem import WordNetLemmatizer
# sklearn
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
# Separating the 95% data for training data and 5% for testing data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30, random_state =0)

In [ ]:
vectoriser = TfidfVectorizer(ngram_range=(1,2), max_features=500000)
vectoriser.fit(X_train)
print('No. of feature_words: ', len(vectoriser.get_feature_names_out()))

No. of feature_words:  500000

In [ ]:
X_train = vectoriser.transform(X_train)
X_test  = vectoriser.transform(X_test)

In [ ]:
X_train

<475103x500000 sparse matrix of type '<class 'numpy.float64'>'
	with 10078754 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.metrics import confusion_matrix
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
my_model = xgb.XGBClassifier()
my_model.fit(X_train, y_train)
 
# Predicting the Test set results
y_pred4 = my_model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [ ]:
print(accuracy_score(y_test,y_pred4 ))

0.9029005579129341

In [ ]:
from sklearn.metrics import classification_report

# Assume y_true and y_pred are the true and predicted labels, respectively
print(classification_report(y_test,y_pred4))

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     77823
           1       0.94      0.84      0.89     63008
           2       0.94      0.86      0.90     62785

    accuracy                           0.90    203616
   macro avg       0.91      0.90      0.90    203616
weighted avg       0.91      0.90      0.90    203616

In [ ]:
print("Precision Score : ",precision_score(y_test, y_pred4, pos_label='positive'average='micro'))
# print("Recall Score : ",recall_score(y_test, y_pred4, 
#                                            pos_label='positive'
#                                            average='micro'))

SyntaxError: ignored